<settings>

    <setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionTitle">
        <settingConfig type="alphaNumeric" readonly="true" />
    </setting>
    
    <setting propertyKey="@Properties.backgroundColor" title="@Strings.BackColorTitle" prompt="@Strings.BackColorPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.White</listEntry>
            <listEntry value="1">@Strings.Lt_Gray</listEntry>
            <listEntry value="2">@Strings.Dk_Gray</listEntry>
            <listEntry value="3">@Strings.Black</listEntry>
            <listEntry value="4">@Strings.Red</listEntry>
            <listEntry value="5">@Strings.Dk_Red</listEntry>
            <listEntry value="6">@Strings.Orange</listEntry>
            <listEntry value="7">@Strings.Yellow</listEntry>
            <listEntry value="8">@Strings.Green</listEntry>
            <listEntry value="9">@Strings.Dk_Green</listEntry>
            <listEntry value="10">@Strings.Blue</listEntry>
            <listEntry value="11">@Strings.Dk_Blue</listEntry>
            <listEntry value="12">@Strings.Purple</listEntry>
            <listEntry value="13">@Strings.Pink</listEntry>
        </settingConfig>
    </setting>
    
     <setting propertyKey="@Properties.numberColor" title="@Strings.NumColorTitle" prompt="@Strings.NumColorPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.White</listEntry>
            <listEntry value="1">@Strings.Lt_Gray</listEntry>
            <listEntry value="2">@Strings.Dk_Gray</listEntry>
            <listEntry value="3">@Strings.Black</listEntry>
            <listEntry value="4">@Strings.Red</listEntry>
            <listEntry value="5">@Strings.Dk_Red</listEntry>
            <listEntry value="6">@Strings.Orange</listEntry>
            <listEntry value="7">@Strings.Yellow</listEntry>
            <listEntry value="8">@Strings.Green</listEntry>
            <listEntry value="9">@Strings.Dk_Green</listEntry>
            <listEntry value="10">@Strings.Blue</listEntry>
            <listEntry value="11">@Strings.Dk_Blue</listEntry>
            <listEntry value="12">@Strings.Purple</listEntry>
            <listEntry value="13">@Strings.Pink</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.barColor" title="@Strings.BarColorTitle" prompt="@Strings.BarColorPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.White</listEntry>
            <listEntry value="1">@Strings.Lt_Gray</listEntry>
            <listEntry value="2">@Strings.Dk_Gray</listEntry>
            <listEntry value="3">@Strings.Black</listEntry>
            <listEntry value="4">@Strings.Red</listEntry>
            <listEntry value="5">@Strings.Dk_Red</listEntry> 
            <listEntry value="6">@Strings.Orange</listEntry>
            <listEntry value="7">@Strings.Yellow</listEntry>
            <listEntry value="8">@Strings.Green</listEntry>
            <listEntry value="9">@Strings.Dk_Green</listEntry>
            <listEntry value="10">@Strings.Blue</listEntry>
            <listEntry value="11">@Strings.Dk_Blue</listEntry>
            <listEntry value="12">@Strings.Purple</listEntry>
            <listEntry value="13">@Strings.Pink</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.barThickness" title="@Strings.BarThickTitle" prompt="@Strings.BarThickPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.zero</listEntry>
            <listEntry value="1">@Strings.one</listEntry>
            <listEntry value="2">@Strings.two</listEntry>
            <listEntry value="3">@Strings.three</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.stepBarOptions" title="@Strings.stepBarOptionsTitle" prompt="@Strings.stepBarOptionsPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.off</listEntry>
            <listEntry value="1">@Strings.steps</listEntry>
            <listEntry value="2">@Strings.calories</listEntry>
        </settingConfig>
    </setting>

</settings>